@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  &-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 128px;
  }
  &-inner{
    display: flex;
    align-items: center;
   
  }
  
}
