html,
body {
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
	background-color: $bg-color-primary;
	color: $color-text-primary;
}
.container {
	max-width: 375px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}