@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

body.lock {
  overflow: hidden;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.6s;
  padding: 24px;
  z-index: 10000;
  &.sticky-header{
    background: #fff;
  }
  &.sticky-header .logo-link{
    color: #b2b2b2;
  }
  &.sticky-header .menu-icon::before, 
  &.sticky-header .menu-icon::after, 
  &.sticky-header .menu-icon span {
      background-color: #b2b2b2;
  }
  &-container{
    max-width: 335px;
    margin: 0 auto;
    padding: 0px 20px;
  }  
  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    & a{
      position: relative;
      font-family: "Actor-Regular";
      color: #fff;
      font-size: 26px;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: 400;
      font-weight: bold;
      letter-spacing: 1.2px;
    }
  }
  & .logo-link {
    position: relative;
    color: #fff;
  }  
  & .menu-link{
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #22BF95;
  }
  & .header-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 140px;
    & .get-link{
      width: 180px;     
    }
    & .log-link{
      width: 90px;
      margin-top: 16px;
    }
  }
  & .header-button button{
    font-size: 12px;
    border-radius: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #22BF95;
    padding: 8px 0;
    border: 1.5px solid #22BF95;
    border-radius: 20px;
    font-family: "Acme-Regular";
  }
  
  & .menu-icon{
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
    &::before,
    &::after,
    & span{
      position: absolute;
      left: 0;
      height: 10%;
      width: 100%;
      background-color: #fff;
      transition: all 0.3s ease 0s;
    }
    &::before,
    &::after{
      content: "";
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
    & span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
  
    }
    &.active span{
      transform: scale(0) translate(0px, -50%);
    }
    &.active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }
    &.active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }
  & .menu-body{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: transform .5s ease-out;
    z-index: 1;
    transform: translateY(-120vh);
    & ul{
      position: relative;
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      & li{
        position: relative;
        margin: 0 auto;
        padding: 6px 0;
      }
    }
    &.active{
      transform: translateY(0px);
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & li a{
      display: inline-block;
      color: #22BF95;
      line-height: 1;
      text-decoration: none;
      cursor: pointer;
      position: relative;
    }
    & li.active a::after{
      width: 50%;
    }
    & li a:after {     
      display: block;
      content: "";
      background-color: #22BF95;
      height: 1.5px;
      width: 0%;
      left: 50%;
      position: absolute;
      -webkit-transition: width 0.3s ease-in-out;
      -moz--transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%);
    }
    & li a:hover:after,
    & li a:focus:after {
      width: 50%;
    }
    & .menu-link{
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #22BF95;
    }
  }
 
}
.header__button{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
  & button{
    font-size: 12px;
    border-radius: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #22BF95;
    padding: 8px 0;
    border: 1.5px solid #22BF95;
    border-radius: 20px;
  }
} 
.hero{
  padding-bottom: 51px;
  position: relative;
  background-image: linear-gradient(60deg, #21c3d8 20%, #13d2c2 40%, #01f17d 75%);
  &-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-title{
    font-family: 'Actor-Regular';
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    padding: 75px 0 0;
    max-width: 315px;
    margin: 0 auto;
    padding-bottom: 62px;
  }
  &-text{
    position: relative;
    max-width: 215px;
    width: 100%;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(127, 127, 127, 0.3);
    margin-top: 31px;
    &::before{
       content: "";
       position: absolute;
       top: 0;
       left: -30px;
       width: 2px;
       height: 145px;
       box-shadow: 0px 2px 4px rgba(127, 127, 127, 0.3);
       background-color: #fff;
    }
  } 
  &-item{
    button{   
      font-family: 'Acme-Regular';
      width: 208px;
      padding: 8px 0;
      background: #FFFFFF;
      box-shadow: 0px 6px 12px rgba(127, 127, 127, 0.3);
      border-radius: 20px;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #22BF95; 
      margin-top: 30px;   
    }
  } 
}
.about{
  padding: 60px 0 80px;
  &-items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-item img{
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }
  &-title{
    @extend %title-section-secondary;
  }
  &-text{
    @extend %title-section-text-mobile;
    max-width: 309px;
    width: 100%;
    margin-top: 20px;
  }
  &-btn{
    display: flex;
    flex-direction: column;
    max-width: 209px;
    width: 100%;
    margin: 0 auto;   
    & .btn-more{
      @extend %button-light;
      margin-top: 30px;
      padding: 8px 0;
    }
    & .btn-product{
      @extend %button-dark;
      margin-top: 30px;
      padding: 8px 0;
    }
  }
}
.essensials{
  padding-bottom: 88px;
  &-title{
    @extend %title-section-secondary;
    max-width: 300px;
  }
}
.card{
  background: #FFFFFF;
  box-shadow: 0px 12px 24px #E5E5E5;
  border-radius: 5px;
  margin-top: 10px; 
  padding: 30px 15px 10px 42px;
  border-left: 5px solid #22BF95;
  &-inner{
    display: flex;
    align-items: center;
  }
  &-info{
    display: flex;
    justify-content: flex-end;
  }
  &-icon{
    width: 58px;
    margin-left: 15px;
  }
  & .info-icon{
    width: 19px;
    height: 19px;
  }
  &-title{
    @extend %title-section-text;
  }
  &-text{
    max-width: 182px;
    width: 100%;
    font-size: 10px;
    line-height: 18px;
    margin-top: 22px;
  }
}
.card-btn{
  display: flex;
  flex-direction: column;
  max-width: 209px;
  width: 100%;
  margin: 0 auto;
}
.btn-product{
  margin-top: 80px;
  @extend %button-dark;
  padding: 8px 0;
}

.solve{
  padding-top: 36px;
  padding-bottom: 100px;
  background-image: linear-gradient(160deg, rgba(230, 245, 240, 1) 5%, rgba(236, 231, 237, 1) 55%, rgba(225, 227, 239, 1) 75%);
  &-title{
    @extend %title-section-secondary;
  }
  &-btn{
    max-width: 208px;
    margin: 0 auto;
    margin-top: 25px;
    & button{
      @extend %button-dark;
      width: 208px;
      padding: 8px 0;      
    }
  }
}
.slider{
  position: relative;
 
  &-item{
    margin-top: 80px;
    & h5{
      font-family: 'Acme-Regular', sans-serif;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 15px;
    }   
  }
  &-text{
    @extend %title-section-text-mobile;
    max-width: 316px;
    margin-top: 15px;
  }
}
.my-dots {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  & li{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    & button{
      font-size: 0;
      line-height: 0;
      display: block;
      width: 4px;
      height: 4px;
      padding: 4px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: #22BF95;
      border-radius: 50%;
      &::before{
        position: absolute;
        top: -5px;
        left: -5px;
        width: 18px;
        height: 18px;
        content: '';
        text-align: center;
        opacity: 1;
        color: #22BF95;
      }
    }
  }
}
.my-dots li.slick-active button:before {
  border: 1.5px solid #22BF95;
  border-radius: 50%;
  opacity: 1;
  color: #22BF95;
}
.slick-slide img {
  width: 262px;
  margin: 0 auto;
  margin-top: 20px;
}

@media (min-width: 767px){
  .header-container {
    max-width: 689px;
  }
  .container{
    max-width: 767px;
  }
  .hero{   
    &-title{
      padding: 120px 0 0;
      max-width: 510px;
    }
    &-text{
      max-width: 510px;
      &::before{
        height: 90px;
      }
    }  
  }
  .about{
    &-items{
      flex-direction: row;
      align-items: end;
    }
    &-item img{
      max-width: 350px;
    }
    &-item-right{
      order: 2;
      margin-top: 90px;
      margin-left: 61px;
    }
    &-item-left{
      order: 1;
    }
  }
  .essensials{
    &-title{
      max-width: 785px;
    }
    &-cards{
      margin-top: 46px;
    }
  }
  .essensials-card{
    display: flex;
    justify-content: center;
  }
  .card{
    margin-top: 30px;
    &-second{
      margin-left: 30px;
    }
    &-btn{
      max-width: 230px;
    }
  }
  .slider{
    & h5{
      font-size: 18px;
      max-width: 451px;
      margin: 0 auto;
      margin-top: 20px;
    }
    &-text{
      margin: 0 auto;
      max-width: 451px;
      margin-top: 20px;
      font-size: 18px;
    }
  }
  .slick-slide img {
    width: 470px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (min-width: 1440px){
  .container{
    max-width: 1440px;
    width: 100%;
    padding: 0 135px;
  }
  .header{
    padding: 20px 84px;
    &.sticky-header ul li .menu-link{
      position: relative;
      color: #b2b2b2;
    }
    &.sticky-header .header-button button{
      color: #b2b2b2;
      border: 1px solid #b2b2b2;
    }
    &.sticky-header .menu-body li a:after {
      background-color: #b2b2b2;
    }
    &-container{
      max-width: 1440px;
      width: 100%;
      padding: 0;
    }  
    &-inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      & a{     
        color: #fff;
      }
    }   
    & .menu-link{
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #22BF95;
    }
    & .header-button{
      flex-direction: row;
      top: 0;
      & .get-link{
       margin-right: 20px;     
      }
      & .log-link{
        margin-top: 0;
      }
    }
    & .header-button button{
      color: #fff;
      border: 1.5px solid #fff;
    }   
    & .menu-icon{
      display: none;
    }
    & .menu-body{
      transform: translateY(0px);
      background: transparent;
      top: 0;
      position: sticky;
      & ul{
        position: relative;
        flex-direction: row;
        align-items: center;
        padding-top: 0;
        & li{
          position: relative;
          margin-right: 50px;
          padding: 10px 0;
        }
      }
      &.active{
        transform: translateY(0px);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      & li a{
        position: relative;
        color: #fff;
      }
      & li a:after {     
        background-color: #fff;
      }
      & .menu-link{
        color: #FFFFFF;
      }
    }   
  }
  .hero{
    padding-bottom: 100px;
    &-inner{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 204px;
      margin-top: 120px;
    }
    &-title{
      font-size: 110px;
      line-height: 130px;
      letter-spacing: 2px;
      padding: 160px 0 0;
      max-width: 1110px;
      padding-bottom: 0;
    }
    &-text{
      max-width: 670px;
      font-size: 20px;
      line-height: 26px;
      margin-top: 0;
      &::before{
         width: 2px;
         height: 105px;
      }
    } 
    &-item{
      button{   
        width: 200px;
        margin-top: 0;   
      }
    } 
  } 
  .about{
    position: relative;
    padding: 40px 0 80px;
    &-item-right{
      margin-left: 96px;
    }
    &-item img {
      max-width: 600px;
    }
    &-title{
      font-size: 42px;
      line-height: 54px;
    }
    &-text{
      font-size: 16px;
      max-width: 470px;
    }
    &-item-right {
      margin-top: 148px;
    }   
  }
  .about-btn{
    flex-direction: row;
    max-width: 480px;
    position: absolute;
    left: 58%;
    bottom: 239px;
    & .btn-more{
      width: 200px;
      margin-right: 70px;
    }
    & .btn-product{
      width: 200px;
    }
  }
  .essensials{
    padding-top: 21px;
    &-title {
      max-width: 785px;
      font-size: 42px;
      line-height: 54px;
    }
  }
  .card {
    margin-top: 35px;
    max-width: 500px;
    width: 100%;
    padding: 28px 15px 10px 42px;
    &-title{
      font-size: 24px;
      line-height: 36px;
    }
    &-text{
      font-size: 13px;
      line-height: 24px;
      max-width: 277px;
    }
    &-icon{
      width: 90px;
      margin-left: 45px;
    }
    & .info-icon{
      width: 22px;
    }  
  }
  .btn-product {
    margin-top: 73px;
  } 
  .card-secondary{
    & .card-info{
      padding-top: 24px;
    }
  }
  .solve{
    padding: 120px 0 133px;
    &-title{
      font-size: 42px;
      line-height: 54px;
    }
    &-btn{
      width: 181px;
      margin: 0;
      margin-left: 98px;
      & button{
        margin: 0;
        width: 181px;
      }
    }
  }
  .slider{
    &-item{
      margin-top: 0;
      & div{
        margin-right: 47px;
      }
    }
  }
  .slick-slide img {
    order: 2;
    margin: 0;
  }
  .slick-initialized .slick-slide{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots{
    flex-direction: column;
    left: 100%;
    top: 25%;
  }
  .slick-dots button{
    margin-top: 10px;
  }
  .my-dots {
    flex-direction: column;
    align-items: flex-end;
    top: 16%;
    & li{
      position: relative;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-top: 6px;
      padding: 0;
      cursor: pointer;
      & button{
        width: 4px;
        height: 4px;
        padding: 4px;
        &::before{
          position: absolute;
          top: -8px;
          left: -8px;
          width: 24px;
          height: 24px;
          content: '';
          text-align: center;
          opacity: 1;
          color: #22BF95;
        }
      }
    }
  }
}