@font-face {
  font-family: "Actor-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Actor-Regular.woff2") format("woff2"), url("../fonts/Actor-Regular.woff") format("woff");
}
@font-face {
  font-family: "Acme-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Acme-Regular.woff2") format("woff2"), url("../fonts/Acme-Regular.woff") format("woff");
}
@font-face {
  font-family: "Aclonica-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Aclonica-Regular.woff2") format("woff2"), url("../fonts/Aclonica-Regular.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

body {
  min-width: 375px;
  overflow-x: hidden;
  font-family: "Aclonica-Regular", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
}

body.lock {
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-width: 375px;
}

.hidden {
  display: none !important;
}

.logo__link {
  font-family: "Actor-Regular";
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.header {
  z-index: 1;
  padding: 18px 20px;
}
.header .menu__list {
  display: flex;
  flex-direction: column;
}
.header .menu__list > li {
  position: relative;
  margin: 0 auto;
}
.header .menu__link {
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #22BF95;
}
.header .header__button-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 80px;
}
.header .header__button-link a {
  font-size: 12px;
  border-radius: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #22BF95;
  padding: 8px 0;
  border: 1.5px solid #22BF95;
  border-radius: 20px;
}
.header .header__banner {
  height: 211px;
}
.header .menu__body {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: transform 0.5s ease-out;
  z-index: 1;
  transform: translateY(-120vh);
}
.header .menu__body.active {
  transform: translateY(0px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .menu__icon {
  display: block;
  width: 24px;
  height: 18px;
  position: relative;
  cursor: pointer;
}
.header .menu__icon::before, .header .menu__icon::after, .header .menu__icon span {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.header .menu__icon::before, .header .menu__icon::after {
  content: "";
}
.header .menu__icon::before {
  top: 0;
}
.header .menu__icon::after {
  bottom: 0;
}
.header .menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.header .menu__icon.active span {
  transform: scale(0) translate(0px, -50%);
}
.header .menu__icon.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.header .menu__icon.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
.header .get__link {
  width: 180px;
}
.header .log__link {
  width: 90px;
  margin-top: 16px;
}

.header__banner {
  height: 211px;
}
.header__banner-title {
  font-family: "Actor-Regular";
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 30px;
  padding: 67px 0 14px;
  max-width: 142px;
  margin: 0 auto;
}
.header__banner-submenu {
  padding: 0 20px;
  position: absolute;
  width: 100%;
  top: 198px;
}

.first-item {
  padding-right: 26px;
  padding-top: 6px;
}

.submenu__item-middle {
  padding-top: 5px;
}

.last-item {
  padding-left: 24px;
  padding-top: 6px;
}

.submenu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 12px 24px #F2F2F2;
  border-radius: 5px;
  border-top: 2.5px solid #37E63E;
}
.submenu__list a {
  color: #7f7f7f;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
}
.submenu__list a:hover {
  color: #37e63e;
}
.submenu__link {
  border-right: 1.5px solid #e5e5e5;
  border-left: 1.5px solid #e5e5e5;
  padding: 0 24px;
}

.header__banner {
  height: 211px;
}

.fixed-top {
  padding: 0 19px;
  top: 63px;
}

#list-top {
  height: 40px;
}

#banner {
  height: 211px;
}

#banner-submenu {
  padding: 0 19px;
  top: 63px;
}

#header {
  padding: 18px 29px;
}

#header ul {
  top: -53px;
}

.link-hover-center a {
  display: inline-block;
  color: #22BF95;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.link-hover-center a:after {
  display: block;
  content: "";
  background-color: #22BF95;
  height: 1.5px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

.link-hover-center.active a:after {
  width: 50%;
}

.link-hover-center a:hover:after,
.link-hover-center a:focus:after {
  width: 50%;
}

.tips {
  padding-top: 52px;
}
.tips-active a {
  color: #37e63e;
}
.tips-sub {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tips-list {
  position: relative;
  margin-top: 24px;
}
.tips-item-wrap {
  display: flex;
  align-items: center;
}
.tips-item__num {
  font-family: "Actor-Regular";
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E5E5E5;
  padding-left: 15px;
  padding-bottom: 3px;
}
.tips-item__title {
  font-family: "Aclonica-Regular";
  font-size: 16px;
  line-height: 24px;
  color: #191919;
  vertical-align: super;
  padding-left: 29px;
  padding-top: 4px;
}
.tips__link {
  display: block;
  position: relative;
  width: 335px;
}
.tips__link::before, .tips__link::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #37e63e;
  position: absolute;
  top: 25px;
}
.tips__link::before {
  transform: rotate(90deg);
  right: 14px;
}
.tips__link::after {
  transform: rotate(-4deg);
  right: 14px;
}
.tips__link_active::before, .tips__link_active::after {
  background-color: #37E63e;
  transition: transform 0.3s ease 0s;
}
.tips__link_active::before {
  transform: rotate(4deg);
}
.tips__link_active::after {
  transform: rotate(0deg);
}

.tips__link::before.tips__link_active {
  transform: rotate(0deg);
}

.border-radius {
  border: 2px solid #37e63e;
  width: 16px;
  height: 15px;
  position: absolute;
  border-radius: 100%;
  right: 11px;
  top: 19px;
}

.tips-sub__item-text {
  width: 335px;
  font-size: 14px;
  line-height: 24px;
  color: #191919;
}

.info-item {
  display: flex;
  align-items: center;
  width: 300px;
}

.border-item {
  border-top: 1.5px solid #37E63E;
}

.border-item-last {
  border-bottom: 1.5px solid #37E63E;
}

.img-item {
  display: flex;
  justify-content: center;
}

.info-item span {
  font-size: 12px;
  line-height: 24px;
  color: #7F7F7F;
  margin-left: 10px;
}

.border-img {
  border-top: 1.5px solid #B2B2B2;
  padding: 8px 0 18px;
  position: relative;
}

.dekstop_img {
  display: none;
}

.mobile_img {
  display: block;
}

.glossary {
  padding-top: 24px;
}

.slider__wrapper {
  margin-top: 24px;
}
.slider__wrapper .slider__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(160deg, #e6f5f0 5%, #ece7ed 55%, #e1e3ef 75%);
  padding: 24px 0;
}
.slider__wrapper .slider__inner .slider-single {
  max-width: 335px;
  width: 100%;
  margin-top: 32px;
  margin-left: 16px;
}
.slider__wrapper .slider__inner .slider-single h3 {
  line-height: 32px;
}
.slider__wrapper .slider__inner .slider-nav {
  background: #fff;
  box-shadow: 0px 12px 24px #E5E5E5;
  border-radius: 5px;
  padding: 40px 0;
  max-width: 335px;
  width: 100%;
}
.slider__wrapper .slider__inner .slider-nav h3 {
  font-size: 16px;
  font-family: "Aclonica-Regular", sans-serif;
  line-height: 32px;
  color: #7F7F7F;
  position: relative;
  text-align: left;
  max-width: 198px;
  width: 100%;
}
.slider__wrapper .slider__inner .slider-nav h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
}
.slider__wrapper .slider__inner .slider-nav h3 span {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
.slider__wrapper .slider__inner .slider-nav .slick-slide {
  cursor: pointer;
}
.slider__wrapper .slider__inner .slider-nav .slick-slide.is-active h3:before {
  content: "";
  position: absolute;
  left: 15px;
  height: 1.5px;
  width: 48px;
  background: #37E63E;
}
.slider__wrapper .slider__inner .slider__text-title {
  font-family: "Actor-Regular";
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #1A1A1A;
}
.slider__wrapper .slider__inner .slider__text-text {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #191919;
}
.slider__wrapper .slider__inner .slider__text-text::before{
  content: "";
  position: absolute;
  background-color: #37e63e;
  width: 1.5px;
  height: 48px;
  left: 100px;
  top: 205px;
}
.slider__wrapper .slider__inner .slick-arrow {
  position: absolute;
  right: 0;
}
.slider__wrapper .slider__inner .prev, .slider__wrapper .slider__inner .next {
  position: absolute;
  top: 32px;
  height: 60px;
  width: 60px;
  z-index: 1;
  cursor: pointer;
  width: 16px;
  margin-right: 32px;
}
.slider__wrapper .slider__inner .prev {
  top: 64px;
}

.fqas {
  padding: 24px 0 20px;
}
.fqas__link {
  position: relative;
  margin-top: 50px;
}
.fqas__link::before, .fqas__link::after {
  content: "";
  width: 10px;
  height: 1.5px;
  background-color: #37e63e;
  position: absolute;
  top: 20px;
  transition: all 0.3s ease 0s;
}
.fqas__link::before {
  transform: rotate(40deg);
  right: -89px;
}
.fqas__link::after {
  transform: rotate(-40deg);
  right: -96px;
}
.fqas__link_active::before, .fqas__link_active::after {
  background-color: #37e63e;
}
.fqas__link_active::before {
  transform: rotate(-40deg);
}
.fqas__link_active::after {
  transform: rotate(40deg);
}
.fqas-sub__item {
  display: flex;
  align-items: center;
}
.fqas-item__num {
  font-family: "Actor-Regular";
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E5E5E5;
}
.fqas-item__title {
  font-family: "Aclonica-Regular";
  font-size: 16px;
  line-height: 24px;
  color: #191919;
  width: 176px;
  text-align: left;
  margin-left: 30px;
}
.fqas-btn {
  font-family: "Acme-Regular";
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #37E63E;
  display: block;
  margin: 0 auto;
  padding-top: 72px;
  transition: 1s;
}
.fqas-btn:hover {
  color: #7f7f7f;
}

.footer {
  background-color: #f2f2f2;
  padding-top: 24px;
}
.footer__item-inner {
  padding: 8px 0;
  border-top: 2px solid #37E63E;
}
.footer__title {
  font-size: 16px;
  line-height: 36px;
  color: #7F7F7F;
}

.menu-footer__list li + li {
  padding-top: 10px;
}

.menu__link {
  font-family: "Acme-Regular";
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #7F7F7F;
}

.phone {
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #7F7F7F;
  transition: 1s;
}
.phone:hover {
  color: #37e63e;
}

address {
  font-size: 12px;
  line-height: 20px;
  color: #7F7F7F;
  width: 170px;
}

.link a {
  font-family: "Aclonica-Regular";
  font-size: 12px;
  line-height: 20px;
  color: #37E63E;
  transition: 1s;
}
.link a:hover {
  color: #7f7f7f;
  text-decoration: underline;
}

.social {
  padding-bottom: 24px;
}
.social__inner {
  border-top: 1.5px solid #b2b2b2;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 29px;
  padding-bottom: 14px;
}

svg .social-hover {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg:hover .social-hover {
  fill: #37E63E;
}

.mobile__img {
  display: block;
  margin: 0 auto;
  height: 38px;
}

.dekstop__img {
  display: none;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }

  .header__banner-submenu {
    padding: 0 20px;
    top: 188px;
  }
  .header__banner .submenu__list {
    height: 60px;
  }
}
@media (min-width: 767px) {
  .container {
    padding: 0 40px;
  }
}
.header.sticky-header .logo__link {
  color: #b2b2b2;
}

.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 18px;
  z-index: 10000;
  padding: 18px 84px;
}

.header.sticky-header {
  background: #fff;
}

.header .logo {
  position: relative;
  transition: 0.6;
}

.header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul li {
  position: relative;
}

.header ul li a {
  position: relative;
  margin: 0 15px;
  color: #fff;
  transition: 0.6s;
}

.header__banner {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(60deg, #21c3d8 20%, #13d2c2 40%, #01f17d 75%);
}

.header.sticky-header .menu__icon::before, .header.sticky-header .menu__icon::after, .header.sticky-header .menu__icon span {
  background-color: #b2b2b2;
}

.header.sticky-header ul li a {
  color: #b2b2b2;
}

.header.sticky-header .header__button-link a {
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
}

#banner-submenu.sticky {
  position: fixed;
  z-index: 100;
  width: 100%;
}

#banner-submenu {
  position: absolute;
}

.banner-top {
  position: absolute;
  bottom: -25px;
}

.fixed-top {
  top: 81px;
  padding: 0 335px;
}

.list-top {
  height: 80px;
}
@media (min-width: 639px) {
  
}
@media (min-width: 939px) {
  .header .menu__list {
    flex-direction: row;
    align-items: center;
  }
  .header #header ul {
    top: 0;
  }
  .header .header__button-link {
    margin: 0;
  }
  .header .header__button-link a {
    border: 1px solid #fff;
  }
  .header .menu__list > li {
    padding: 10px 0;
  }
  .header__button-link {
    display: flex;
    align-items: center;
  }
  .header .menu__icon {
    display: none;
  }
  .header .menu__body {
    transform: translateY(0px);
    background: transparent;
    top: 0;
    position: sticky;
  }
  .header .menu__body a {
    color: #fff;
  }
  .header .header__button-link a {
    padding: 3px 0;
  }
  .header .get__link {
    width: 120px;
    margin-right: 20px;
  }
  .header .log__link {
    margin-top: 0;
    width: 75px;
  }
  .header .header__button-link {
    flex-direction: row;
  }
  .header .menu__list li {
    margin-right: 50px;
  }

  .link-hover-center a {
    color: #fff;
  }

  .link-hover-center a:after {
    background-color: #fff;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 60px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1270px;
    padding: 0 90px 0 84px;
  }

  #header {
    padding: 18px 84px;
    display: flex;
    align-items: center;
  }

  .header__banner-submenu {
    bottom: -36px;
  }
  .header .menu__list li {
    margin-right: 29px;
  }
  .header .menu__link {
    transition: 1s;
  }
  .header .menu__link:hover::before {
    content: "";
    width: 40px;
    height: 1.5px;
    position: absolute;
    top: 35px;
    display: block;
    margin: 0 auto;
    transition: 1s;
  }
  .header .header__button-link a {
    padding: 8px 0;
  }
  .header .get__link {
    width: 180px;
    margin-right: 24px;
  }
  .header .log__link {
    width: 90px;
  }

  #header ul {
    top: 0;
  }

  #banner {
    height: 500px;
  }

  .header .header__button-link {
    top: 0;
  }

  .header__banner-title {
    width: 100%;
    max-width: 100%;
    font-size: 110px;
    line-height: 130px;
    padding: 183px 0 14px;
  }
  .header__banner .submenu__list {
    height: 80px;
  }
  .header__banner .first-item {
    padding-right: 102px;
  }
  .header__banner .submenu__item-middle a {
    padding: 0 102px;
  }
  .header__banner .last-item {
    padding-left: 102px;
  }

  #list-top {
    height: 80px;
  }

  #banner-submenu {
    padding: 0 335px;
    top: 80px;
  }

  .tips {
    padding-top: 165px;
  }
  .tips-list {
    margin-top: 101px;
    margin-right: 37px;
  }
  .tips-item__num {
    font-size: 110px;
    line-height: 130px;
    padding-left: 51px;
  }
  .tips-item__title {
    font-size: 24px;
    line-height: 36px;
    padding-left: 114px;
    padding-top: 9px;
  }
  .tips__link {
    background-position: right 30px top 41px;
    background-size: 75px;
    width: 1130px;
  }
  .tips__link::before, .tips__link::after {
    width: 20px;
    top: 73px;
  }
  .tips__link::before {
    right: 56px;
  }
  .tips__link::after {
    right: 56px;
  }

  .tips-sub {
    flex-direction: row;
    justify-content: space-around;
  }

  .tips-sub__item-text {
    width: 464px;
  }

  .info-item {
    width: 400px;
  }

  .border-radius {
    width: 37px;
    height: 38px;
    right: 47px;
    top: 55px;
  }

  .mobile_img {
    display: none;
  }

  .dekstop_img {
    display: block;
  }

  .border-img {
    margin-right: 37px;
    padding: 20px 0 0;
  }

  .glossary {
    padding-top: 160px;
  }
  .glossary__img {
    top: 2px;
  }

  .slider__wrapper {
    margin-top: 50px;
  }
  .slider__wrapper .slider__inner {
    padding: 60px 0;
    flex-direction: row;
    justify-content: start;
  }
  .slider__wrapper .slider__inner .slider-nav {
    max-width: 422px;
    width: 100%;
    padding: 60px 0 27px;
  }
  .slider__wrapper .slider__inner .slider-single {
    max-width: 770px;
    width: 100%;
  }
  .slider__wrapper .slider__inner .slider-single .slider__title-wrapper {
    margin-left: 130px;
  }
  .slider__wrapper .slider__inner .slider-single .slider__title-wrapper .slider__text-title {
    font-size: 90px;
    line-height: 120px;
  }
  .slider__wrapper .slider__inner .slider-single .slider__title-wrapper .slider__text-text {
    margin-top: 73px;
    font-size: 24px;
    line-height: 36px;
  }

  .fqas {
    padding: 160px 0 100px;
  }
  .fqas__link {
    width: 950px;
    display: flex;
    align-items: center;
  }
  .fqas__link::before, .fqas__link::after {
    width: 22px;
    top: 60px;
  }
  .fqas__link::after {
    right: -104px;
  }
  .fqas-item__num {
    font-size: 110px;
    line-height: 130px;
  }
  .fqas-item__title {
    max-width: 100%;
    width: 100%;
    font-size: 24px;
    line-height: 36px;
  }
  .fqas__link_active {
    width: 950px;
  }

  .footer {
    padding-top: 77px;
  }
  .footer__container {
    max-width: 1347px;
  }
  .footer__item-left {
    margin-right: 118px;
  }
  .footer__inner {
    display: flex;
  }
  .footer__item-inner {
    display: flex;
  }
  .footer__item-inner ul {
    display: flex;
  }
  .footer__item-inner ul li {
    padding-bottom: 57px;
  }
  .footer__title {
    font-size: 24px;
    line-height: 36px;
  }

  .social__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-list {
    padding-top: 54px;
    padding-bottom: 71px;
  }
  .social-list li + li {
    margin-left: 50px;
  }
  .social .mobile__img {
    display: none;
    margin: 0;
  }
  .social .dekstop__img {
    display: block;
    margin: 0;
    height: 60px;
  }

  .item-second {
    margin-left: 168px;
    margin-top: 7px;
  }

  .item-address {
    margin-left: 50px;
    margin-top: 7px;
  }

  address {
    font-size: 16px;
    line-height: 24px;
    width: 212px;
  }

  .link a {
    margin-left: 110px;
    margin-top: 13px;
    font-size: 16px;
    line-height: 24px;
  }
}/*# sourceMappingURL=style.css.map */